<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>

</head>
<body>
  <%- include('./partials/nav.ejs') %>
   <h1 class="text-left display-4">Madona</h1>
   <h3 class="text-left">Here is your Cart</h3>
   <div class="container-fluid  justify-content-center ">
      <% if (products.length > 0) { %>
        <div id="view">
        <% products.forEach(product => { %>
          <div class="card">
          <img src="<%= product.image %>" alt="test" class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title text-center"><%= product.name %></h3>
            <h4 class="card-text text-center">price:<%= product.totalprice %></h4>
            <h4 class="card-text text-center" >total number:<%= product.number%></h4>
          </div>
        </div>
        <% }) %>
        </div>
        <a href="/pay/<%= total %>"><button class="btn btn-primary mt-4">proceed to pay</button></a>
      <% } else { %>
        <p>There are no items in cart to display...</p>
      <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>