<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
</head>
<body>

  <!-- Hero Section Starts -->

  <div class="relative w-full h-full pb-10">
    <div class="hidden md:block">
        <img class="absolute bg-cover bg-center w-full h-full inset-0" src="https://cdn.tuk.dev/assets/templates/prodify/background.png" alt="" />
    </div>
    <nav class="lg:hidden relative z-50">
        <div class="flex py-2 justify-between items-center px-4">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="79" height="92" viewBox="0 0 79 92" fill="none">
                    <rect width="79" height="92" fill="#1A202C"></rect>
                    <path
                        d="M18.284 34.952L15.584 34.484V32.252H21.02C21.524 32.252 22.304 32.228 23.36 32.18C24.752 32.084 26.012 32.036 27.14 32.036C29.636 32.036 31.604 32.348 33.044 32.972C34.508 33.572 35.54 34.448 36.14 35.6C36.764 36.728 37.076 38.168 37.076 39.92C37.076 42.944 36.128 45.296 34.232 46.976C32.36 48.656 29.756 49.496 26.42 49.496C25.1 49.496 24.152 49.46 23.576 49.388V56.48L28.4 56.84V59H15.44V56.84L18.284 56.48V34.952ZM23.54 47.084C24.092 47.204 25.028 47.264 26.348 47.264C27.956 47.264 29.24 46.712 30.2 45.608C31.184 44.48 31.676 42.62 31.676 40.028C31.676 38.012 31.232 36.548 30.344 35.636C29.48 34.7 28.148 34.232 26.348 34.232C25.676 34.232 24.98 34.28 24.26 34.376C23.924 34.424 23.684 34.448 23.54 34.448V47.084ZM39.5648 56.84L42.4088 56.48V34.952L39.7088 34.448V32.252H44.9288C45.3848 32.252 45.8888 32.24 46.4408 32.216C46.9928 32.192 47.4128 32.168 47.7008 32.144C48.9488 32.048 49.9808 32 50.7968 32C53.2688 32 55.2488 32.252 56.7368 32.756C58.2248 33.26 59.3048 34.028 59.9768 35.06C60.6488 36.092 60.9848 37.448 60.9848 39.128C60.9848 40.784 60.5408 42.32 59.6528 43.736C58.7648 45.152 57.4808 46.124 55.8008 46.652C56.7608 47.06 57.6128 47.804 58.3568 48.884C59.1008 49.964 59.8928 51.368 60.7328 53.096C61.3328 54.272 61.7888 55.124 62.1008 55.652C62.4368 56.156 62.7608 56.444 63.0728 56.516L64.2608 56.876V59H58.1408C57.7568 59 57.3488 58.616 56.9168 57.848C56.5088 57.056 55.9688 55.82 55.2968 54.14C54.5048 52.172 53.8208 50.636 53.2448 49.532C52.6688 48.428 52.0568 47.744 51.4088 47.48H47.7008V56.48L51.0128 56.84V59H39.5648V56.84ZM51.0128 45.284C52.3808 45.284 53.4488 44.792 54.2168 43.808C54.9848 42.824 55.3688 41.348 55.3688 39.38C55.3688 37.628 54.9848 36.332 54.2168 35.492C53.4728 34.652 52.1768 34.232 50.3288 34.232C49.6568 34.232 49.0808 34.268 48.6008 34.34C48.1448 34.388 47.8448 34.412 47.7008 34.412V45.212C47.9888 45.26 48.6848 45.284 49.7888 45.284H51.0128Z"
                        fill="white"
                    ></path>
                </svg>
            </div>
            <div class="visible flex items-center">
                <ul id="list" class="hidden p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-24">
                    <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                        <a href="#">
                            <span class="ml-2 font-bold">Home</span>
                        </a>
                    </li>
                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                        <a href="#">
                            <span class="ml-2 font-bold">About Us</span>
                        </a>
                    </li>
                    <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <a href="#">
                            <span class="ml-2 font-bold">Pricing</span>
                        </a>
                    </li>
                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                        <a href="#">
                            <span class="ml-2 font-bold">Resources</span>
                        </a>
                    </li>
                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                        <a href="#">
                            <span class="ml-2 font-bold">Sign In</span>
                        </a>
                    </li>
                </ul>
                <div class="xl:hidden">
                    <svg id="open" onclick="MenuHandler(true)" aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <line x1="4" y1="8" x2="20" y2="8"></line>
                        <line x1="4" y1="16" x2="20" y2="16"></line>
                    </svg>
                    <div id="close" class="hidden close-m-menu" onclick="MenuHandler(false)">
                        <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="f-f-l relative z-10">
        <div class="relative z-10 mx-auto container hidden w-full px-4 xl:px-0 lg:flex justify-between items-center py-11">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="79" height="92" viewBox="0 0 79 92" fill="none">
                    <rect width="79" height="92" fill="#1A202C"></rect>
                    <path
                        d="M18.284 34.952L15.584 34.484V32.252H21.02C21.524 32.252 22.304 32.228 23.36 32.18C24.752 32.084 26.012 32.036 27.14 32.036C29.636 32.036 31.604 32.348 33.044 32.972C34.508 33.572 35.54 34.448 36.14 35.6C36.764 36.728 37.076 38.168 37.076 39.92C37.076 42.944 36.128 45.296 34.232 46.976C32.36 48.656 29.756 49.496 26.42 49.496C25.1 49.496 24.152 49.46 23.576 49.388V56.48L28.4 56.84V59H15.44V56.84L18.284 56.48V34.952ZM23.54 47.084C24.092 47.204 25.028 47.264 26.348 47.264C27.956 47.264 29.24 46.712 30.2 45.608C31.184 44.48 31.676 42.62 31.676 40.028C31.676 38.012 31.232 36.548 30.344 35.636C29.48 34.7 28.148 34.232 26.348 34.232C25.676 34.232 24.98 34.28 24.26 34.376C23.924 34.424 23.684 34.448 23.54 34.448V47.084ZM39.5648 56.84L42.4088 56.48V34.952L39.7088 34.448V32.252H44.9288C45.3848 32.252 45.8888 32.24 46.4408 32.216C46.9928 32.192 47.4128 32.168 47.7008 32.144C48.9488 32.048 49.9808 32 50.7968 32C53.2688 32 55.2488 32.252 56.7368 32.756C58.2248 33.26 59.3048 34.028 59.9768 35.06C60.6488 36.092 60.9848 37.448 60.9848 39.128C60.9848 40.784 60.5408 42.32 59.6528 43.736C58.7648 45.152 57.4808 46.124 55.8008 46.652C56.7608 47.06 57.6128 47.804 58.3568 48.884C59.1008 49.964 59.8928 51.368 60.7328 53.096C61.3328 54.272 61.7888 55.124 62.1008 55.652C62.4368 56.156 62.7608 56.444 63.0728 56.516L64.2608 56.876V59H58.1408C57.7568 59 57.3488 58.616 56.9168 57.848C56.5088 57.056 55.9688 55.82 55.2968 54.14C54.5048 52.172 53.8208 50.636 53.2448 49.532C52.6688 48.428 52.0568 47.744 51.4088 47.48H47.7008V56.48L51.0128 56.84V59H39.5648V56.84ZM51.0128 45.284C52.3808 45.284 53.4488 44.792 54.2168 43.808C54.9848 42.824 55.3688 41.348 55.3688 39.38C55.3688 37.628 54.9848 36.332 54.2168 35.492C53.4728 34.652 52.1768 34.232 50.3288 34.232C49.6568 34.232 49.0808 34.268 48.6008 34.34C48.1448 34.388 47.8448 34.412 47.7008 34.412V45.212C47.9888 45.26 48.6848 45.284 49.7888 45.284H51.0128Z"
                        fill="white"
                    ></path>
                </svg>
            </div>
            <div class="flex items-center text-white text-lg font-bold">
                <ul class="flex items-center pr-3 xl:pr-12">
                    <li class="cursor-pointer hover:text-gray-300 ease-in">
                        <a href="#">Home</a>
                    </li>
                    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
                        <a href="#">About Us</a>
                    </li>
                    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
                        <a href="#">Pricing</a>
                    </li>
                    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
                        <a href="#">Resources</a>
                    </li>
                </ul>
                <button class="px-6 py-3 bg-white bg-indigo-700 text-white text-lg font-bold flex items-center justify-center">
                    Sign In
                    <svg class="ml-4" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M9.129 5.24952L5.106 1.22652L6.1665 0.166016L12 5.99952L6.1665 11.833L5.106 10.7725L9.129 6.74952H0V5.24952H9.129Z" fill="white"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
    <div class="relative px-4 xl:px-0 container mx-auto md:flex items-center gap-8">
        <div class="text-color w-full md:w-1/3 pt-16 lg:pt-36">
            <h1 class="text-7xl w-1/2 xl:w-full xl:text-9xl font-black f-f-l">Build. Review. Ship.</h1>
            <div class="f-f-r text-xl lg:text-3xl pb-20 sm:pb-0 pt-10 xl:pt-20">
                <h2>The next big thing starts here.Get Prodify and be the first to market with an integrated product that you love</h2>
            </div>
            <button class="hover:opacity-90 text-xl w-full xl:text-3xl xl:w-11/12 mt-4 xl:mt-11 f-f-r py-6 bg-indigo-700 text-white font-bold">Let's Build</button>
        </div>
        <img class="w-full mt-8 md:mt-0 object-fill md:w-2/3 md:-ml-4 lg:-ml-4 xl:ml-0" src="https://i.ibb.co/9GMTkW3/desktop.png" />
    </div>
</div>
<style>
    .top-100 {
        animation: slideDown 0.5s ease-in-out;
    }

    @keyframes slideDown {
        0% {
            top: -50%;
        }

        100% {
            top: 0;
        }
    }

    * {
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
</style>
  <!-- Hero Section Ends -->

<br>
<br>
<br>
<br />
<br />
<br />

<h1 class="lg:text-5xl text-2xl text-center f-m-w text-indigo-700 font-bold">Curated Collections</h1>

<div role="tabpanel" class="tab-pane" id="related-artists">
                
  <div class="media-cards">
  
    <a href="https://www.notion.so/Entrepreneurship-Podcasts-4cd664cf74fe410a80d751b810f5e185" target="_blank">

    <div class="media-card">
    
      <div class="media-card__image" style="background-image: url(https://media.istockphoto.com/vectors/business-people-character-vector-design-business-people-with-idea-vector-id1149643310?k=6&m=1149643310&s=612x612&w=0&h=qpIcP9hmi2Px9wUKSFN6-DjwAXDcNTSLPvGa8cIBGLc=);">
      
        <i class="ion-ios-play"></i>
        
      </div>
      
      <a class="media-card__footer">Entrepreneurship Podcasts</a>
      
    </div>
  </a>
  <a href="https://www.notion.so/Lofi-Beats-3d4796f1303449fea0a09c9dddcc0bba" target="_blank">

    <div class="media-card">
    
      <div class="media-card__image" style="background-image: url(https://78.media.tumblr.com/4629f0d7c113af2b7c4ef6efbcca0207/tumblr_inline_pe8tyrSfBi1s9on4d_540.jpg);">
      
        <i class="ion-ios-play"></i>
        
      </div>
      
      <a class="media-card__footer">Lofi beats for work/reading </a>
      
    </div>
    </a>
    <a href="https://www.notion.so/Design-Podcasts-c24b71bda6e04b7f86224684dee18fa0" target="_blank">

    <div class="media-card">
    
      <div class="media-card__image" style="background-image: url(https://design4users.com/wp-content/uploads/2020/01/graphic-design-trends.jpg);">
      
        <i class="ion-ios-play"></i>
        
      </div>
      
      <a class="media-card__footer">Design Podcasts</a>
      
    </div>
    </a>
    <a href="https://www.notion.so/Programming-Podcasts-1ab0960b4f3a451b9663b6b49ff342fa" target="_blank">

    <div class="media-card">
    
      <div class="media-card__image" style="background-image: url(https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg?size=338&ext=jpg&ga=GA1.2.1356500412.1617148800);">
      
        <i class="ion-ios-play"></i>
        
      </div>
      
      <a class="media-card__footer">Programming Podcasts</a>
      
    </div>

    </div>
              
    <div class="media-cards">
  
      <a href="https://www.notion.so/Entrepreneurship-Podcasts-4cd664cf74fe410a80d751b810f5e185" target="_blank">
  
      <div class="media-card">
      
        <div class="media-card__image" style="background-image: url(https://media.istockphoto.com/vectors/business-people-character-vector-design-business-people-with-idea-vector-id1149643310?k=6&m=1149643310&s=612x612&w=0&h=qpIcP9hmi2Px9wUKSFN6-DjwAXDcNTSLPvGa8cIBGLc=);">
        
          <i class="ion-ios-play"></i>
          
        </div>
        
        <a class="media-card__footer">Entrepreneurship Podcasts</a>
        
      </div>
    </a>
    <a href="https://www.notion.so/Lofi-Beats-3d4796f1303449fea0a09c9dddcc0bba" target="_blank">
  
      <div class="media-card">
      
        <div class="media-card__image" style="background-image: url(https://78.media.tumblr.com/4629f0d7c113af2b7c4ef6efbcca0207/tumblr_inline_pe8tyrSfBi1s9on4d_540.jpg);">
        
          <i class="ion-ios-play"></i>
          
        </div>
        
        <a class="media-card__footer">Lofi beats for work/reading </a>
        
      </div>
      </a>
      <a href="https://www.notion.so/Design-Podcasts-c24b71bda6e04b7f86224684dee18fa0" target="_blank">
  
      <div class="media-card">
      
        <div class="media-card__image" style="background-image: url(https://design4users.com/wp-content/uploads/2020/01/graphic-design-trends.jpg);">
        
          <i class="ion-ios-play"></i>
          
        </div>
        
        <a class="media-card__footer">Design Podcasts</a>
        
      </div>
      </a>
      <a href="https://www.notion.so/Programming-Podcasts-1ab0960b4f3a451b9663b6b49ff342fa" target="_blank">
  
      <div class="media-card">
      
        <div class="media-card__image" style="background-image: url(https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg?size=338&ext=jpg&ga=GA1.2.1356500412.1617148800);">
        
          <i class="ion-ios-play"></i>
          
        </div>
        
        <a class="media-card__footer">Programming Podcasts</a>
        
      </div>
  
      </div>
  
    <br/>
    <br/>
    <h1 class="lg:text-5xl text-2xl text-center f-m-w text-indigo-700 font-bold">Handpicked Products</h1>


    <div class="container my-12 mx-auto px-4 md:px-12">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-black" href="#">
                          <p class="ml-2 text-sm">
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-black" href="#">
                          <p class="ml-2 text-sm">
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-black" href="#">
                          <p class="ml-2 text-sm">
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-black" href="#">
                          <p class="ml-2 text-sm">
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-black" href="#">
                          <p class="ml-2 text-sm">
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
          <!-- Column -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
              <!-- Article -->
              <article style="align-items:center; justify-content: center; text-align: center;" class="overflow-hidden rounded-lg shadow-lg">
  
                  <a href="#">
                      <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                  </a>
  
                  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                          <a class="no-underline hover:underline text-black" href="#">
                              Product Name
                          </a>
                      </h1>
                      <p class="text-grey-darker text-sm">
                          $19
                      </p>
                  </header>
  
                  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a style="align-items:center; justify-content: center; text-align: center;" class="flex items-center no-underline hover:underline text-black" href="#">
                          <p style="align-items:center; justify-content: center; text-align: center;" class="ml-2 text-sm" >
                              Add to cart
                          </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                          <span class="hidden">Like</span>
                          <i class="fa fa-heart"></i>
                      </a>
                  </footer>
  
              </article>
              <!-- END Article -->
  
          </div>
          <!-- END Column -->
  
      </div>
  </div>
    
  <footer class="bg-gray-50 text-gray-600 px-6 lg:px-8 py-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-x-8">
      <div>
        <img class="h-8" src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="UptimeMate logo">
        <p class="mt-4 text-gray-700">Let our designs work for you. And save valuable time during your next business adventure.</p>
      </div>
      <div>
        <h5 class="text-xl font-semibold text-gray-400">Legal</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-400">General Terms & Conditions</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-400">Data Processing Agreement</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-400">Privacy Statement</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h5 class="text-xl font-semibold text-gray-700">Contact</h5>
        <div class="space-y-4 md:space-y-6 mt-4">
          <div class="flex items-start space-x-4">
            <div>
              <svg class="w-6 h-6 mt-1 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
            </div>
            <div class="flex-1">
              <address class="not-italic">
                Rorikstraat 159<br>
                Wijk bij Duurstede<br>
                The Netherlands
              </address>
            </div>
          </div>
          <div class="flex items-start space-x-4">
            <div>
              <svg class="w-6 h-6 mt-1 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
            </div>
            <div class="flex-1">
              <a href="#" class="hover:text-gray-400">support@company.com</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        
          </a>
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto flex flex-col items-center mt-16">
      <div class="flex items-center space-x-2">
        <a href="#" class="hover:text-gray-500">
          <span class="sr-only">Facebook</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" class="hover:text-gray-500">
          <span class="sr-only">Instagram</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" class="hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
          </svg>
        </a>
      </div>
      <div class="text-sm mt-4">
        &copy;2020 Company. All rights reserved.
      </div>
    </div>
  </footer>
</body>
</html>


      



 <!-- 
         <%- include('./partials/nav.ejs') %>
  <div class = "form content">
      <h2>List of all forms </h2>
      <% if (datas.length > 0) { %>
        <% datas.forEach(data => { %>
          <h3 class="name"><%= data.name %></h3>
          <p class="description"><%= data.description %></p>
          <p class="testid"><%=data.test %></p>
          <a id="delete" data-id="<%=data._id%>"> delete</a>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
  </div>
  <script>
    const trash = document.querySelector('#delete');
    trash.addEventListener('click',evt=>{
      console.log(trash.dataset.id);
      fetch(`/delete/${trash.dataset.id}`,{
        method:'DELETE'
      })
      .then(response=>response.json())
      .then(data=>{window.location.href=data.redirect})
      .catch(err=>{console.log("error on delete:",err)});
    })
  </script>
  <%- include('./partials/footer.ejs') %>
      -->

