<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>

</head>
<body>
  <%- include('./partials/nav.ejs') %>
   <h1>E-commerce</h1>

   <% if (datas.length > 0) { %>
    <% datas.forEach(data => { %>
      <h3 class="name"><%= data.name %></h3>
      <img src="<%= data.image %>" alt="test" style="max-width: 300px;max-height: 300px;"/>
      <h4><%= data.price %></h4>
      <a href="/view/<%= data.name %>/<%= data._id%>">view</a>
    <% }) %>
  <% } else { %>
    <p>There are no blogs to display...</p>
  <% } %>

  <%- include('./partials/footer.ejs') %>
</body>
</html>