<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>

</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container  justify-content-center">
    <div class="row">
      <div class="col-sm-6">
        <h3  class="text-center"><span id="span_name"><%= product.name %></span></h3>
        <img id="img" src="<%= product.image %>" alt="test" class="mx-auto d-block" style="height:400px"/>
        <p class="h4 text-center">
          price:<span id="span_price"><%= product.price %></span>
        </p>
      </div>
      <div class="col-sm-6">
        <form id="form" data-id="<%= product._id %>" class="validated">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required><!--title-->
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="description">content:</label>
            <textarea id="description" name="description" class="form-control" required></textarea><!--body-->
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="test">number</label>
            <input type="number" id="test" name="test"  class="form-control" required><!--snippet-->
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>  
  </div>
  <script>
    const form = document.querySelector('#form');

    form.addEventListener('submit',evt=>{
      evt.preventDefault();
      const formData = new FormData(form);
      const name  = formData.get('name');
      const content = formData.get('description');
      const number = formData.get('test');
      const price = document.querySelector('#span_price').textContent;
      const totalprice = number * parseFloat(price);
      const product_id = `${form.dataset.id}`;
      const product_name = document.querySelector('#span_name').textContent;
      const image = document.getElementById('img').src;
      const data = {
        product_id,
        product_name,
        name,
        content,
        number,
        totalprice,
        image
      }
      fetch('/add',{
        method:'POST',
        headers:{
          'content-type':'application/json'
        },
        body:JSON.stringify(data)
      }).then(response=> response.json())
      .then(data=>console.log(data));
      form.reset();
    })
  </script>
  <%- include('./partials/footer.ejs') %>
</body>
</html>